<appSettings>
  <!--邮件-->
  <add key="Email.SmtpServerAddress" value="smtp.ym.163.com" />
  <add key="Email.SmtpUserName" value="no-reply@our.tm" />
  <add key="Email.FromMailAddress" value="no-reply@our.tm" />
  <add key="Email.SmtpUserPassword" value="chinahrd.net001" />
  <add key="Email.SmtpServerPortNumber" value="25" />
  <add key="Email.EnableSsl" value="true" />
</appSettings>
