<appSettings>
  <!--邮件-->
  <add key="Email.SmtpServerAddress" value="" />
  <add key="Email.SmtpUserName" value="" />
  <add key="Email.FromMailAddress" value="" />
  <add key="Email.SmtpUserPassword" value="" />
  <add key="Email.SmtpServerPortNumber" value="25" />
  <add key="Email.EnableSsl" value="true" />
</appSettings>
