<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="pays">
      <!--<section name="alipay" type="命名空间.AlipayConfigurationHandler, dll名称" />-->
      <section name="alipay" type="ConsoleApp.AlipayConfigurationHandler, ConsoleApp" />
    </sectionGroup>
  </configSections>
  <pays>
    <alipay gatewayUrl="https://openapi.alipaydev.com">
      <appId>2016081600256163</appId>
    </alipay>
  </pays>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>