/* 动画 */
a:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
    -webkit-box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
    box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
}

/* 背景灰 */
.bg{
    background-color: #f2f4f8;
}

.bg-box{
    background-color: #1b55e2;
}

/*
.text-muted：提示，使用浅灰色（#999）
.text-primary：主要，使用蓝色（#428bca）
.text-success：成功，使用浅绿色(#3c763d)
.text-info：通知信息，使用浅蓝色（#31708f）
.text-warning：警告，使用黄色（#8a6d3b）
.text-danger：危险，使用褐色（#a94442）
*/