
CREATE TABLE [dbo].[JobPosition](
	[Id] [int] NOT NULL,
	[ParentId] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_JobPosition_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[JobPosition] ([Id], [ParentId], [Code], [Name]) VALUES (1, 0, N'0', N'在岗职工')
INSERT [dbo].[JobPosition] ([Id], [ParentId], [Code], [Name]) VALUES (2, 0, N'1', N'农牧渔民')
INSERT [dbo].[JobPosition] ([Id], [ParentId], [Code], [Name]) VALUES (3, 0, N'2', N'解放军、武警')
