
CREATE TABLE [dbo].[Ethnic](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](2) NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ethnic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Ethnic] ([Id], [Code], [Name]) VALUES (1, N'01', N'汉族')
INSERT [dbo].[Ethnic] ([Id], [Code], [Name]) VALUES (2, N'02', N'蒙古族')
INSERT [dbo].[Ethnic] ([Id], [Code], [Name]) VALUES (3, N'03', N'回族')
