<system.webServer>
  <rewrite>
      <rules>
          <rule name="redirect" patternSyntax="ECMAScript" stopProcessing="true">
              <match url="index103.html" negate="false" />
              <action type="Redirect" url="404.html?staffId={C:1}&amp;jumpFrom={C:2}" appendQueryString="false" />
              <serverVariables>
              </serverVariables>
              <conditions>
                  <add input="{QUERY_STRING}" pattern="staffId=(\d+)&amp;jumpFrom=(\d+)" />
              </conditions>
          </rule>
      </rules>
  </rewrite>
  </system.webServer>
