<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="serviceSettings" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
  </configSections>
  <serviceSettings maxThreads="4">
    <endpoint>http://localhost:9090</endpoint>
    <bannedPhrases>
      <phrase>something</phrase>
      <phrase>else</phrase>
    </bannedPhrases>
  </serviceSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>