<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper.SimpleCRUD.ModelGenerator" version="1.0.3" targetFramework="net462" />
  <package id="EnvDTE" version="8.0.1" targetFramework="net462" />
  <package id="EnvDTE100" version="10.0.1" targetFramework="net462" />
  <package id="EnvDTE80" version="8.0.1" targetFramework="net462" />
  <package id="EnvDTE90" version="9.0.1" targetFramework="net462" />
  <package id="EnvDTE90a" version="9.0.1" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.TextTemplating.15.0" version="15.0.26606" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="10.0.30319" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="11.0.50727" targetFramework="net462" />
  <package id="stdole" version="7.0.3301" targetFramework="net462" />
</packages>